body{
    background-color: #fff8f2;
}
@media (max-width: 600px) {
    .pizza-image {
        max-width: 80%;
    }
    .testimonials {
        flex-direction: column;
        align-items: center;
    }
}
header {
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
}
header .title {
    font-weight: bold;
    font-size: 30px;
}
header nav a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font: 100 16px Arial, sans-serif, bold;   
}
a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font: 100 16px Arial, sans-serif, bold;   
    
}
.content{
    text-align: center;
    margin: 20px 0;
}
.pizza-image{
    max-width: 25%;
    height: auto;
    border-radius: 10px;
    border: 1px solid black;
}
.testimonials{
    text-align: left;
    margin: 20px 0;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border: 1px solid black;
    background-color: #fff3e0;
}
h2{
    color: orange;
    font: 100 24px Arial, sans-serif, bold; 
    padding: 20px;
}
footer{
    background-color: orange;
    color: white;
    text-align: center;
    padding: 10px;z
}